[user]
	name = name
	email = foo@bar.com
	
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto

[core]
	ignorecase = false
	quotepath = false
	editor = code --wait

[init]
	defaultBranch = main

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
